@font-face {
  font-family: 'Roboto';
  font-weight: 400;

  src: url(../fonts/roboto.woff2) format('woff2'),
  url(../fonts/roboto.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;

  src: url(../fonts/robotomedium.woff2) format('woff2'),
  url(../fonts/robotomedium.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;

  src: url(../fonts/robotobold.woff2) format('woff2'),
  url(../fonts/robotobold.woff) format('woff');
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;

  margin: 0;
  padding: 0;

  color: #fff;
  background: #849d8f;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: auto;
}

.banner_1 {
  -webkit-animation: slide 600ms 1;
          animation: slide 600ms 1;

  background: url(../img/banner-1.png) no-repeat;
  background-position: top, center;
}

.banner_2 {
  -webkit-animation: slide 600ms 1;
          animation: slide 600ms 1;

  background: url(../img/banner-2.png) no-repeat;
  background-position: top, center;
}

.banner_3 {
  -webkit-animation: slide 600ms 1;
          animation: slide 600ms 1;

  background: url(../img/banner-3.png) no-repeat;
  background-position: top, center;
}

@-webkit-keyframes slide {
  from {
    background-position: 1000px top;
  }

  to {
    background-position: center top;
  }
}

@keyframes slide {
  from {
    background-position: 1000px top;
  }

  to {
    background-position: center top;
  }
}

a {
  text-decoration: none;

  color: #fff;
}

.header {
  font-size: 16px;
  line-height: 18px;

  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  padding: 0 2.3%;
  padding-top: 7px;
}

.header__navigation {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
}

.header__link-logo {
  margin-right: 9px;
}


.header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.header__navigation-link {
  font-weight: 700;

  display: block;

  padding: 8px 14px;

  text-decoration: underline;

  border-radius: 20px;

  -webkit-text-decoration-color: rgba(255, 255, 255, .2);

          text-decoration-color: rgba(255, 255, 255, .2);
}

.header__navigation-list li {
  border-radius: 20px;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: #000;
  background: #f7f6f3;
}

.header__navigation-link_active {
  background: #d07058;
}

.header__navigation-list li:active {
  -webkit-box-shadow: 0 -2px 0 0 black;
          box-shadow: 0 -2px 0 0 black;
}

.header__navigation-list li:last-child {
  margin-right: 0;
}

.header__user-block {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.header__user-block li {
  position: relative;

  margin-right: 10px;
}

.header__user-block li:last-child {
  margin-right: 0;
}

.header__search-button,
.header__entrance-button,
.header__cart-button {
  display: block;

  border-radius: 40px;
  background: rgba(255, 255, 255, .2);
}

.header__entrance-button::before {
  position: relative;

  width: 21px;
  height: 20px;
  margin-right: 8px;

  content: '';

  background: url(../img/entrance_white.svg);
}

.header__entrance-button:hover::before,
.header__entrance-button:focus::before {
  background: url(../img/entrance_black.svg);
}

.header__search-button {
  padding: 8px;
}

.header__search-button::before {
  position: relative;

  display: block;

  width: 17px;
  height: 17px;

  content: '';

  background: url(../img/magnifier_white.svg);
}

.header__search-button:hover::before,
.header__search-button:focus::before {
  background: url(../img/magnifier_black.svg);
}

.header__cart-button::before {
  position: relative;

  display: block;

  width: 20px;
  height: 21px;
  margin-right: 8px;

  content: '';

  background: url(../img/basket.svg) no-repeat;
}

.header__cart-button:hover::before,
.header__cart-button:focus::before {
  background: url(../img/basket-red.svg) no-repeat;
}

.header__search-button:hover,
.header__search-button:focus,
.header__entrance-button:hover,
.header__entrance-button:focus,
.header__cart-button:hover,
.header__cart-button:focus {
  color: #000;
  background: #f7f7f4;
}

.header__entrance-button {
  font-weight: 600;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  padding: 6px 16px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.header__entrance-button svg {
  position: relative;

  margin-right: 8px;
}

.header__cart-button {
  font-weight: 600;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  min-width: 85px;

  padding: 6px 16px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.header__contacts-phone {
  position: absolute;
  top: 86%;
  right: 2.3%;

  margin-top: 10px;
}

.header__opening-hours {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  text-align: right;
}

.header__phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  padding: 0;
}

.header__catalog {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 180px;

  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  border-radius: 5px;
  background: #f8f7f4;
  -webkit-box-shadow: 0 15px 20px 0 #5b5b5b;
          box-shadow: 0 15px 20px 0 #5b5b5b;
}

.header__catalog-item {
  padding: 7px 20px;
}


.header__catalog-item:first-child {
  margin-bottom: 7px;

  border-radius: 5px 5px 0 0;
}

.header__catalog-item:last-child {
  border-radius: 0 0 5px 5px;
}

.header__catalog-item:hover,
.header__catalog-item:focus {
  background: #fbded8;
}

.header__catalog-item:active {
  background: #f6b5a5;
}

.header__catalog-item_active {
  background: #d07058;
}

.header__catalog-item_active .header__catalog-link {
  color: #fff;
}

.header__catalog-item_active:hover,
.header__catalog-item_active:focus,
.header__catalog-item_active:active {
  background: #d07058;
}

.header__catalog-link {
  font-size: 14px;
  line-height: 16px;

  display: block;

  color: #000;
}

.header__catalog-link_active {
  font-weight: 700;

  position: relative;
}

.header__catalog-link_active::after {
  position: absolute;
  top: 150%;
  left: -13px;

  width: 128px;
  height: 1px;

  content: '';

  border-bottom: 1px solid gray;
}

.header__catalog_visible {
  display: block;
}

.search-form {
  position: absolute;
  z-index: 1;
  top: 90%;
  right: 228px;

  display: none;

  min-width: 313px;
  margin: 0;
  padding: 20px 14px;

  border-radius: 5px;
  background: #f8f7f4;
  -webkit-box-shadow: 0 15px 20px 0 #5b5b5b;
          box-shadow: 0 15px 20px 0 #5b5b5b;
}

.search-form_visible {
  display: block;
}

.search-form__input {
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-width: 311px;
  padding: 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-form {
  position: absolute;
  z-index: 1;
  top: 90%;
  right: 150px;

  display: none;

  max-width: 239px;
  padding: 20px 19px;

  color: #000;
  border-radius: 10px;
  background: #f8f7f4;
  -webkit-box-shadow: 0 15px 20px 0 #5b5b5b;
          box-shadow: 0 15px 20px 0 #5b5b5b;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.login-form_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.login-form__email,
.login-form__password {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-width: 241px;
  min-height: 44px;
  margin-bottom: 20px;
  padding: 14px;

  border: 1px solid #d3d3d2;
}

.login-form__submit {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  padding: 13px 26px;

  color: #fff;
  border: 0;
  border-radius: 20px;
}

.login-form__extra {
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.login-form__link {
  color: #000;
  border-bottom: 1px solid #adacaa;
}

.login-form__link:hover,
.login-form__link:focus {
  color: #ffbc9e;
  border-color: #ffbc9e;
}


.cart-preview {
  position: absolute;
  top: 85%;
  right: 2.3%;

  display: none;

  max-width: 499px;
  padding: 11px 20px;

  border-radius: 5px;
  background: #f8f7f4;
  -webkit-box-shadow: 0 15px 20px 0 #5b5b5b;
          box-shadow: 0 15px 20px 0 #5b5b5b;

}

.cart-preview_visible {
  display: block;
  z-index: 100;
}

.cart-preview__list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  list-style: none;

  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.cart-preview__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 20px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.cart-preview__close-button {
  position: relative;

  margin-right: 9px;

  border: 0;
  background: transparent;
}

.cart-preview__close-button::before,
.cart-preview__close-button::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 1px;

  content: '';

  background: #000;
}

.cart-preview__close-button::before {
  -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
}

.cart-preview__close-button::after {
  -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
}

.cart-preview__image {
  max-width: 33px;
  margin-right: 14px;
}

.cart-preview__name,
.cart-preview__amount,
.cart-preview__price,
.cart-preview__summary-price {
  font-size: 13px;
  line-height: 16px;

  margin: 0;
  padding: 0;
}

.cart-preview__name {
  max-width: 217px;
  margin-right: 32px;
}

.cart-preview__amount {
  margin-right: 29px;
}

.cart-preview__amount span {
  opacity: .4;
}

.cart-preview__summary-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;

  margin-bottom: 15px;

  text-align: right;

  color: #000;
}

.cart-preview__button {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  display: block;

  margin-left: auto;
  padding: 13px 15px;

  color: #fff;
  border: 0;
  border-radius: 20px;
}

.main {
  padding: 0 2.3%;
}

.slider {
  position: relative;

  margin-bottom: 41px;
}

.slider__offer {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;

  max-width: 690px;
  margin: 0 auto;
  margin-top: 320px;
  margin-bottom: 30px;

  text-align: center;

  color: #fff;
}

.slider__list {
  position: absolute;
  top: 73%;
  left: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  padding: 0;

  list-style: none;
}

.slider__switcher {
  position: relative;

  width: 21px;
  height: 21px;
  margin-right: 7px;

  border: 0;
  background: transparent;
}

.slider__switcher::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 21px;
  height: 21px;

  content: '';

  border-radius: 40px;
  background: url(../img/slider-switcher_off.png);
}

.slider__switcher:focus::before,
.slider__switcher:hover::before {
  background: rgba(255, 255, 255, .3) url(../img/slider-switcher_off.png);
}

.slider__switcher_active:hover::before,
.slider__switcher_active:focus::before,
.slider__switcher_active::before {
  background: #fff;
}

.slider__button {
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  display: block;

  margin: 0 auto;
  padding: 10px 40px;

  color: #fff;
  border: 0;
  border-radius: 40px;
  text-shadow: 1px 1px 3px gray;
}


.button_color_red {
  font-weight: 700;

  background: #ec593c;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74b36));
  background: linear-gradient(to bottom, #f26843, #e74b36);
  -webkit-box-shadow: 0 1px 0 1px #c74e3d;
          box-shadow: 0 1px 0 1px #c74e3d;
}


.button_color_red:hover,
.button_color_red:focus {
  background: #f17c64;
  background: -webkit-gradient(linear, left top, left bottom, from(#f48569), to(#ed705e));
  background: linear-gradient(to bottom, #f48569, #ed705e);
}

.button_color_red:active {
  background: #db5238;
  background: -webkit-gradient(linear, left top, left bottom, from(#cb412d), to(#e1613e));
  background: linear-gradient(to bottom, #cb412d, #e1613e);
  -webkit-box-shadow: 0 -1px 0 1px #c74e3d;
          box-shadow: 0 -1px 0 1px #c74e3d;
}

.special-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 40px;
}

.special-offers__item {
  min-width: 380px;
  max-width: 522px;
  padding: 15px 19px 25px 19px;

  border-radius: 20px;
}

.special-offers__title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.special-offers__condition {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}

.special-offers__item:first-child {
  margin-right: 2.2%;

  background: #891a36 url(../img/raspberry-background.jpg) 50% 50% no-repeat;
}

.special-offers__item:last-child {
  background: #891a36 url(../img/chocolate-background.jpg) 50% 50% no-repeat;
}


.special-offers__button,
.extra-block__submit-button {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  display: block;

  margin-left: auto;
  padding: 10px 20px;

  color: #fff;
  border: 0;
  border-radius: 40px;
}

.bestsellers {
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;

  -ms-align-items: flex-start;
      align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.bestsellers__item {
  position: relative;
  z-index: 1;

  max-width: 22.2%;
  padding: 6px 13px;

  text-align: center;

  border-radius: 5px;
}

.preview-button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  position: relative;
  z-index: 3;
  top: 86%;

  display: block;

  max-width: 90%;
  margin: 0 auto;
  padding: 10px 18px;

  color: #fff;
  border: 0;
  border-radius: 40px;
}

.hover-menu {
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 0;

  display: none;

  width: 100%;
  height: 125%;

  border-radius: 5px;
  background: rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2);
          box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .2);
}


.bestsellers__item:hover .hover-menu,
.bestsellers__item:focus .hover-menu {
  display: block;
}

.bestsellers__item:hover,
.bestsellers__item:focus {
  z-index: 10;
}

.bestsellers__item::after {
  position: absolute;
  top: 0;
  left: 15px;

  width: 61px;
  height: 61px;

  content: '';

  background: url(../img/hit.png) no-repeat;
}

.bestsellers__image {
  width: 100%;
}

.bestsellers__price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: relative;

  margin: 0;
  margin-top: -50px;
  margin-bottom: 16px;
  padding: 0;

  text-align: left;

  -webkit-filter: drop-shadow(1px 1px 0 #66766e);
          filter: drop-shadow(1px 1px 0 #66766e);
}

.bestsellers__price span {
  font-size: 30px;
  line-height: 45px;
}

.bestsellers__link {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  z-index: 2;
}

.technologies {
  z-index: 2;

  margin-bottom: 40px;
  padding: 30px 20px;

  color: #000;
  border-radius: 20px;
  background: #e7d8b8 url(../img/vaffle-background.jpg);
}

.technologies__title {
  font-size: 24px;
  font-weight: medium;
  line-height: 30px;

  margin: 0;
  padding: 0;
}

.technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.technologies__item {
  position: relative;

  max-width: 540px;
}

.technologies__item:nth-child(1)::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background: url(../img/ice-cream-logo.svg);
}

.technologies__item:nth-child(2)::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background: url(../img/cow-logo.svg);
}

.technologies__item:nth-child(3)::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background: url(../img/leaf-logo.svg);
}

.technologies__item:nth-child(4)::before {
  position: absolute;
  top: 15px;
  left: 0;

  width: 49px;
  height: 49px;

  content: '';

  background: url(../img/thermometer.svg);
}

.technologies__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;
  margin-top: 30px;
  margin-left: 57px;
  padding: 0;
}

.extra-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 40px;
}

.extra-block__blog {
  margin-right: 2.2%;
  padding: 30px 20px;

  background: #fff url(../img/strawberry-background.jpg) 20% 40% no-repeat;
}

.extra-block__new-in-blog,
.extra-block__title {
  margin: 0;
  padding: 0;

  color: #000;
}

.extra-block__new-in-blog {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  margin-bottom: 5px;
}

.extra-block__title-link {
  text-decoration: underline;

  color: #000;
}

.extra-block__title {
  font-size: 24px;
  line-height: 30px;

  max-width: 280px;
}

.extra-block__blog,
.extra-block__distribution {
  max-width: 520px;
  min-height: 160px;

  border-radius: 20px;

  -webkit-box-flex: 1;

      -ms-flex-positive: 1;

          flex-grow: 1;
}


.extra-block__distribution {
  position: relative;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  max-width: 560px;

  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image: url(),
  -webkit-repeating-linear-gradient(316deg,
  #fe9e90 -4px,
  #fe9e90 3px,
  #fff 3px,
  #fff 10px,
  #92cdff 10px,
  #92cdff 17px,
  #fff 17px,
  #fff 24px);
  background-image: url(),
  repeating-linear-gradient(134deg,
  #fe9e90 -4px,
  #fe9e90 3px,
  #fff 3px,
  #fff 10px,
  #92cdff 10px,
  #92cdff 17px,
  #fff 17px,
  #fff 24px);
  background-repeat: no-repeat;
  background-position: 5px 4px, top left;
  background-size: 98% 96%, 100%;
}

.extra-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 5px;
  padding: 25px 20px 35px 20px;

  border-radius: 20px;
  background: #f8f7f4;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.extra-block__dstribution-offer {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
}

.extra-block__email {
  font-family: inherit;
  font-size: 20px;

  display: inline-block;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-width: 368px;
  min-height: 44px;
  padding-left: 14px;

  border: none;
  border: 1px solid #d3d3d2;
}

.extra-block__submit-button {
  /*display: inline-block;*/
  margin-left: auto;
  padding: 10px 19px;
}

.contacts {
  position: relative;

  max-width: 1200px;
  min-height: 430px;
  margin-right: -2.3%;
  margin-left: -2.3%;

  background: red;
  background: url(../img/map.jpg) center;
}

.contacts__address-block {
  position: absolute;
  top: 62px;
  right: 2.3%;

  max-width: 250px;
  padding: 35px 26px 30px 26px;

  color: #000;
  border-radius: 20px;
  background: #fdfefe;
}

.contacts__sentence {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  padding: 0;
}

.contacts__sentence:first-child {
  max-width: 154px;
}

.contacts__phone,
.contacts__address {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  margin: 0;
  padding: 0;
}

.contacts__address {
  margin-bottom: 27px;
}

.contacts__phone {
  margin: 6px 0;
}

.contacts__sentence:nth-child(5) {
  margin-bottom: 30px;
}

.contacts__form-button {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  display: block;

  margin-left: auto;
  padding: 10px 20px;

  color: #fff;
  border: 0;
  border-radius: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 102px;
  padding: 0 2.3%;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__cooperation-link:hover,
.footer__cooperation-link:focus,
.footer__cooperation-link:active,
.footer__htmlacademy-link:hover,
.footer__htmlacademy-link:focus,
.footer__htmlacademy-link:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}


.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 267px;
  margin: 0;
  margin-right: 2.2%;
  padding: 0;

  list-style: none;
}

.footer__social-item {
  position: relative;

  width: 38px;
  height: 38px;
  margin-right: 11px;

  background: url(../img/social-mask.png);
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {
  position: relative;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 32px;
  height: 32px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
}

.footer__social-link svg {
  opacity: .8;
}

.footer__social-link:hover svg,
.footer__social-link:focus svg {
  opacity: 1;
}

.footer__social-link:active svg {
  opacity: .7;
}

.footer__cooperation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 46.6%;
  margin: 0;
  padding: 0 129px 0 129px;

  list-style: none;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__cooperation-item {
  width: 50%;
  margin-bottom: 8px;
}

.footer__cooperation-item:last-child {
  margin-right: 0;
}

.footer__cooperation-link {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer__htmlacademy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 22.2%;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.footer__htmlacademy-image:hover {
  opacity: .7;
}

.footer__htmlacademy-madeby {
  font-size: 12px;
  line-height: 18px;

  margin: 0;
}

.footer__htmlacademy-link {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.feedback {
  position: fixed;
  z-index: 101;
  top: 336px;
  right: 0;
  left: 0;

  display: none;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 477px;
  margin: 0 auto;
  padding: 20px 24px;

  color: #000;
  border-radius: 10px;
  background: #f8f7f4;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}


.dark-overlay_on {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.5;
  background-color: #000;
}

.feedback__close {
  position: absolute;
  top: auto;
  right: 24px;

  width: 22px;
  height: 22px;

  border: none;
  background: transparent;
}

.feedback__close::before {
  position: absolute;
  top: auto;
  left: 0;

  width: 22px;
  height: 3px;

  content: '';
  -webkit-transform: rotate(45deg);
      transform: rotate(45deg);

  background: #000;
}

.feedback__close::after {
  position: absolute;
  top: auto;
  left: 0;

  width: 22px;
  height: 3px;

  content: '';
  -webkit-transform: rotate(135deg);
      transform: rotate(135deg);

  background: #000;
}

.feedback__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.feedback input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 20px;
  padding: 13px 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback__name {
  width: 267px;
}

.feedback__email {
  width: 267px;
}

.feedback__message {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;

  width: 428px;
  margin-bottom: 25px;
  padding: 13px 14px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback__submit {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;

  margin-left: auto;
  padding: 13px 25px;

  color: #fff;
  border: none;
  border-radius: 20px;
}

.feedback_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-animation: scaling 300ms;

          animation: scaling 300ms;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@media (min-width: 400px) {
  .bestsellers__price {
    font-size: 35px;
  }

  .bestsellers__link {
    font-size: 15px;
  }


}

@media (min-width: 1200px) {
  .bestsellers__price {
    font-size: 45px;
  }

  .bestsellers__link {
    font-size: 16px;
  }
}

/*Страница каталога*/

.subpage .header {
  margin-bottom: 15px;
}

.breadcrumps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumps__item {
  margin-right: 8px;
}

.breadcrumps__item:last-child {
  margin-right: 0;
}

.breadcrumps__item:last-child .breadcrumps__link {
  border-bottom: 0;
}

.breadcrumps__item::after {
  margin-left: 8px;

  content: '»';
}

.breadcrumps__item:last-child::after {
  margin-left: 0;

  content: '';
}


.breadcrumps__link {
  font-size: 14px;
  line-height: 16px;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.page-title {
  font-size: 35px;
  line-height: 41px;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 30px;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.filter__item {
  margin: 0;
  margin-right: 14px;
  margin-bottom: 10px;
  padding: 0;

  border: none;
}

.filter legend {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;

  margin-bottom: 7px;
  margin-left: 16px;
}

.filter__sorting {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;

  padding: 12px 16px;

  color: #fff;
  border: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, .2);
}

.filter__sorting:hover,
.filter__sorting:focus {
  color: #000;
  background: #fff;
}

.filter__sorting option {
  font-weight: 400;

  color: #000;
}


.range-controls {
  position: relative;

  margin-top: 20px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}


.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  font-size: 14px;
  line-height: 20px;

  display: block;

  margin: 0 auto;
  padding: 6px 35px;

  cursor: pointer;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background: transparent;
}

.filter__fatness,
.filter__filler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;
  padding: 7px 14px;

  list-style: none;

  border-radius: 20px;
  background: rgba(255, 255, 255, .2);
}

.filter__fatness input[type='radio'] {
  display: none;
  position: absolute;

  height: 0;
}

.filter__fatness-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;

  margin-right: 18px;
}

.filter__fatness-amount {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  vertical-align: center;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  tabindex: 1;
}

.filter__fatness-amount::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;

  content: '';

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
}

input[type='radio']:checked + .filter__fatness-amount::before {
  background-image: url(../img/radio-on.svg);
}

input[type='radio']:disabled + .filter__fatness-amount::before {
  opacity: .5;
}



.filter__item:first-child,
.filter__item:nth-child(2) {
  min-width: 190px;
}

.filter__filler input[type='checkbox'] {
  display: none;
}

.filler__type-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-right: 20px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.filler__type-name::before {
  width: 26px;
  height: 24px;
  margin-right: 10px;

  content: '';

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type='checkbox']:checked + .filler__type-name::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNyIgaGVpZ2h0PSIyMyIgdmlld0JveD0iMCAwIDI3IDIzIj48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNy4yODUgNy40ODZsLTIuODI5IDIuODI5IDcuNzgzIDcuNzgzTDI2LjE3MSA0LjE2NmwtMi44MjgtMi44MjktMTEuMTA0IDExLjEwMnoiLz48cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjEgMjBjMCAuNTQyLS40NTggMS0xIDFIM2MtLjU0MiAwLTEtLjQ1OC0xLTFWM2MwLS41NDIuNDU4LTEgMS0xaDE2LjkwOEwyMS40OTMuNDE1QTIuOTYgMi45NiAwIDAgMCAyMCAwSDNDMS4zNSAwIDAgMS4zNSAwIDN2MTdjMCAxLjY1IDEuMzUgMyAzIDNoMTdjMS42NSAwIDMtMS4zNSAzLTN2LTkuODI5bC0yIDJWMjB6Ii8+PC9zdmc+Cg==);
}

input[type='checkbox']:disabled + .filler__type-name::before {
  opacity: .5;
}

.filter__fatness-amount:hover::before,
input[type='radio']:focus + .filter__fatness-amount::before,
.filler__type-name:hover::before,
.filler__type-name:focus::before,
input[type='checkbox']:focus + .filler__type-name::before {
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
}

.filter__submit {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;

  margin-bottom: 10px;
  padding: 9px 27px;

  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  background: transparent;

  -ms-flex-item-align: end;

      align-self: flex-end;
}

.filter__submit:hover,
.filter__submit:focus {
  color: #000;
  background: #fff;
}

.filter__submit:active {
  color: #000;
  border: 1px solid #eaeaea;
  background: #eaeaea;
  -webkit-box-shadow: 0 -1px 0 0 #6a6b6a;
          box-shadow: 0 -1px 0 0 #6a6b6a;
}


.ice-cream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.ice-cream__item {
  position: relative;
  z-index: 1;

  width: 22.2%;
  margin-bottom: 40px;
  padding: 6px 13px;

  text-align: center;
}


.ice-cream__item:hover .hover-menu {
  display: block;
}

.ice-cream__item:hover {
  z-index: 2;
}

.ice-cream__image {
  position: relative;
  z-index: 2;

  width: 100%;
}

.ice-cream__price {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;

  position: relative;
  z-index: 2;

  margin: 0;
  margin-top: -60px;
  margin-bottom: 20px;
  padding: 0;

  text-align: left;

  -webkit-filter: drop-shadow(1px 1px 0 #66766e);

          filter: drop-shadow(1px 1px 0 #66766e);
}

.ice-cream__price span {
  font-size: 30px;
  line-height: 45px;
}


.ice-cream__name {
  position: relative;
  z-index: 2;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 200px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.page-numbers__number {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  position: relative;

  padding: 6px 10px 4px 10px;

  color: #fff;
  border: 0;
  border-radius: 20px;
  background: transparent;
}

.page-numbers__item:first-child .page-numbers__number,
.page-numbers__item:last-child .page-numbers__number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 27px;
  min-height: 27px;
  padding: 0;
}


.page-numbers__item:first-child .page-numbers__number::before,
.page-numbers__item:last-child .page-numbers__number::before {
  position: absolute;
  top: 30%;

  display: block;

  width: 7px;
  height: 7px;

  content: '';
  -webkit-transform: rotate(135deg);
      transform: rotate(135deg);

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.page-numbers__item:last-child .page-numbers__number::before {
  left: 9px;

  -webkit-transform: rotate(-45deg);

      transform: rotate(-45deg);
}

.page-numbers__item:first-child .page-numbers__number::before {
  left: 12px;
}

.page-numbers__number:hover,
.page-numbers__number:focus {
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

.page-numbers__item:first-child .page-numbers__number:hover::before,
.page-numbers__item:first-child .page-numbers__number:focus::before,
.page-numbers__item:last-child .page-numbers__number:hover::before,
.page-numbers__item:last-child .page-numbers__number:focus::before {
  border-color: #000;
}

.page-numbers__number[disabled],
.page-numbers__item:first-child .page-numbers__number[disabled]::before,
.page-numbers__item:last-child .page-numbers__number[disabled]::before {
  color: rgba(255, 255, 255, .2);
  border-color: rgba(255, 255, 255, .2);
  background: transparent;
}

.page-numbers__number_active,
.page-numbers__number_active:hover,
.page-numbers__number:active,
.page-numbers__number_active:focus {
  color: #000;
  background: #fff;
}

.ice-cream__catalogue {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.subpage .container {
  background: #849d8f;
}